{% load static %}
<div class="card card-primary">

    <div id="form_loading" class="loading">
        <img src="{% static 'img/spinning.gif' %} " alt="">
    </div>
    <div class="card-header">
        <h3 class="card-title">Tanent Edit</h3>
    </div>
    <strong class="text-center mt-2 text-danger">{{ error }}</strong>
    <!-- /.card-header -->
    <!-- form start -->
    <form id="edit_form_main">
        {% csrf_token %}
        <div class="card-body">
{#            <div class="form-group">#}
{#                <label>Flat</label>#}
{#                <select class="custom-select" name="flat" id="flat">#}
{#                    {% for flat in flat %}#}
{#                        <option value="{{ flat.id }}">{{ flat.flat_no }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Name :</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputEmail3"
                           placeholder="John Doe" name="name" value="{{ tanent.name }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Email :</label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputPassword3"
                           placeholder="example@gmail.com" name="email" value="{{ tanent.email }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Mobile :</label>
                <div class="col-sm-12">
                    <input type="Number" class="form-control" id="inputPassword3"
                           placeholder="+88018000000000" name="mobile" value="{{ tanent.mobile }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Parmanent Address :</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputPassword3"
                           placeholder="Uttara, Dhaka, Bangladesh" name="parmanent_address"
                           value="{{ tanent.parmanent_address }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">NID :</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputPassword3"
                           placeholder="0295720000" name="nid" value="{{ tanent.nid }}">
                </div>
            </div>
            <div class="form-group">
                <label>Date: </label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                    <input type="date" class="form-control"
                           name="date" value="{% if date %}{{ date }}{% else %}{{ tanent.date }}{% endif %}">

                </div>
            </div>
            <div class="form-group">
                <label>End Date: </label>
                <div class="input-group date" id="reservation" data-target-input="nearest">
                    <input type="date" class="form-control"
                           name="end_date" value="{% if end_date %}{{ end_date }}{% elif tanent.end_date %}{{ tanent.end_date }}{% else %}{% endif %}">

                </div>
            </div>


        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <span class="btn btn-primary" onclick="edit_form_data('/tanent/edit/{{ tanent.id }}')">Submit</span>
            <span id="edit_cancel" class="btn btn-primary float-right">Cancel</span>
        </div>
    </form>
</div>

<script>
    $("#flat").val({{ tanent.flat.id }})
</script>