{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Service Billing</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            {#                <i class="right fas fa-angle-left"></i>#}
                        </p>
                    </a>

                </li>

                 <!-- Member Nav -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p> Member <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'member_add' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Member Add</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/member" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Member List</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Flat Nav -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-house-user"></i>
                        <p> Flat <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'flat_add' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Flat Add</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'flat_list' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Flat List</p>
                            </a>
                        </li>
                    </ul>
                </li>



                <!-- Tanent Nav -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p> Tanent <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'tanent_add' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Tanent Add</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tanent' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Tanent List</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- Tanent Nav -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-money-bill nav-icon"></i>
                        <p> Bill <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'generate_bill' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Generate Bill</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'bill_history' %}" class="nav-link">
                                <i class="fas fa-long-arrow-alt-right nav-icon"></i>
                                <p>Billing History</p>
                            </a>
                        </li>
                    </ul>
                </li>

                 <li class="nav-item">
                    <a href="{% url 'change_tanent_flat' %}" class="nav-link">
                        <i class="fas fa-exchange-alt nav-icon"></i>
                        <p> Change Tanent Flat <i class="right fas "></i></p>
                    </a>
                </li>






            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>