{% load static %}
<!-- jQuery -->

 <script>
     function table_info(){
         $('#loading').show();
        var table_info = $('#table_info');
        $.ajax({
            url: '/member/members',
            datatype: "html",
            type: "get",
            success: function (data) {
                table_info.html(data);
                setTimeout(function () {
                    $('#loading').hide();
                }, 500);
            }
        })

 };
     table_info()

    </script>

{% block jscode %} {% endblock %}
</body>
</html>


